<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>to do list</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

<div class="box" id="heading">
  <h1><%=listtitle%></h1>
</div>

<div class="box">
  <%  for (var i=0;i<adder.length;i++){ %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkboxx" onChange="this.form.submit()" value="<%= adder[i]._id%>" >
          <p><%= adder[i].name %></p>
      </div>
      <input type="hidden" name="lissstName" value="<%=listtitle%>"</input>
    </form>

  <%  } %>


  <form class="item" action="/" method="post">
    <input type="text" name="additem" placeholder="add item" autocomplete="off">
    <button type="submit" name="lists" value="<%= listtitle %>">+</button>

  </form>
</div>



  </body>
</html>
